<ion-header>
  <ion-toolbar >
      <ion-buttons slot="start">
        <ion-card-title color="primary" class="font">Remind <span style="color: #D02764 !important;">Me</span></ion-card-title>
        <ion-menu-button color="primary"></ion-menu-button>
      </ion-buttons>
    <!-- <ion-searchbar showCancelButton="focus" cancelButtonText="Custom Cancel"></ion-searchbar> -->
    <!-- <ion-buttons slot="end">
      <ion-icon name="notifications-outline" class=" not ion-size"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="person" (click)="navigateToProfile()"  class="ion-size"></ion-icon>
    </ion-buttons> -->
    <ion-button slot="end" size="small" shape="round" color="medium" (click)="notifications()">
        <ion-icon name="person"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<!-- banner section start -->
<ion-content>
  <ion-card>
  </ion-card>
  <ion-card>
    <img src="../../../assets/reminder.jpg" alt="" srcset="">
  </ion-card>
</ion-content>