<ion-tabs #tabs >
    <ion-tab-bar style="background: #ddd;   box-shadow: 1px 1px 1px 1px #492673;" slot="bottom">
      <ion-tab-button  tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label >Home</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="add">
          <ion-icon name="add"></ion-icon>
          <ion-label>Add Reminder</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="reminder">
        <ion-icon name="add"></ion-icon>
        <ion-label>Reminders</ion-label>
     </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
