<ion-header>
  <ion-toolbar color="warnin" style="border-bottom: 2px solid #D02764 ">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Reminders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card  *ngFor="let reminder of list">
        <ion-card-header style="color: #D02764;">
          {{reminder.title}}
          <br>
          <ion-card-subtitle>
            {{reminder.date}}
          </ion-card-subtitle>
          <ion-card-subtitle>
            {{reminder.time}}
          </ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          {{reminder.note}}
        </ion-card-content> 
  </ion-card>
</ion-content>
